:root {
    --darkmode: 'true';
    --color1: 240,235,141;
    --color2: 45,39,39;
    --color3: 65,53,67;
    --color4: 143,67,238;
    --fill: var(--color4);
}

#headshot, #projects {
    visibility: visible;
    opacity: 100;
    transition: visibility 0s, opacity 0.3s ease;
}

#details {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    height: 0;
}

.bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: absolute;
    z-index: -1;
    transition: all 0.2s ease;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgba(var(--color1),0.2) 0%, rgba(var(--color3),0.2) 51%, rgba(var(--color4),0.2) 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}
  
@-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  
@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: rgb(var(--color3));
    border-radius: 10px;
    transition: 0.2s ease;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color3), 0.7);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgba(var(--color3), 0.5);
    border-radius: 10px;
  }

body {
    transition: all 0.2s ease;
    font-family: 'Montserrat';
    background-color: rgb(var(--color2));
    color: rgb(var(--color1));
    margin: 40px;
    margin-top: 10px;
    max-width: 100%;
    overflow-x: hidden;
    letter-spacing: 0.3pt;
    font-weight: 500;
    height: auto;
}

.link {
    color: rgb(var(--color4));
    transition: filter 0.2s ease;
    display: inline;
}

.link:hover {
    filter: brightness(1.5) drop-shadow(0px 0px 8px rgb(var(--fill)));
    cursor: pointer;
}

.headshot {
    width: 20vw; 
    height: auto; 
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.headshot:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px rgb(var(--fill)));
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.coin {
    width: 20vw;
    height: 20vw;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.coin .front, .coin .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin .back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(540deg);
}
.flipped {
    transform: rotateY(540deg);
}

.center-title {
    font-size: 48pt;
    width: auto;
    height: auto;
    transition: filter 0.5s ease;
    text-align: center;
    padding-top: 20px;
}

.center-title:hover {
    filter: drop-shadow(0px 0px 10px rgb(var(--color1))) brightness(1.2);
}

.title-spacer {
    width: 90vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgb(var(--color1));
    height: 5px;
}

.article-spacer {
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(var(--color1));
    height: 2px;
}

.spacer {
    width: 30vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgb(var(--color1));
    height: 2px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    gap: 15px;
    text-align: center;
}

.details-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-left: 10vw;
    padding-right: 10vw;
}

.back-container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding-top: 7px;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
}

.content-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20%;
    z-index: -1;
    background-color: rgba(var(--color2), 1);
    filter: blur(7em);
}

.content-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    max-width: 60vw;
    height: auto;
    flex-wrap: nowrap;
    
}

.item {

}

.title1 {
    font-size: 26pt;
}

.title2 {
    font-size: 20pt;
}

.subtitle1 {
    font-size: 18pt;
}

.subtitle2 {
    font-size: 14pt;

}

.dark-title {
    font-size: 2.25vw;
    color: rgb(var(--color2));
    padding: 20px;
}

.bi-moon-fill, .bi-sun-fill {
    color: rgb(var(--fill));
}

.darkModeButton {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 1px rgb(var(--color3));
    background-color: transparent;
    transition: filter 0.2s ease;
    position: fixed;
    z-index: 10;
    font-size: 20pt;
    right: 10px;
    top: 10px;
}

.darkModeButton:hover {
    filter: brightness(1.5) drop-shadow(0px 0px 8px rgb(var(--fill)));
}

.backEng, .backMed {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0%;
    border-radius: 50%;
    border: 1px rgb(var(--color3));
    background-color: transparent;
    transition: filter 0.2s ease;
    z-index: 10;
    font-size: 20pt;
    left: 10vw;
}

.backEng:hover, .backMed:hover {
    filter: brightness(1.5) drop-shadow(0px 0px 8px rgb(var(--fill)));
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
    border-radius: 15px;
}

.grid-item:hover img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
    background: rgba(var(--color1), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none
}

.grid-item:hover .overlay {
    opacity: 1;
}

.info-box {
    position: absolute;
    display: none;
    background: rgba(var(--color3), 0.9);
    color: rgb(var(--color1));
    padding: 10px;
    border-radius: 5px;
    min-width: 20vw;
    max-width: 30vw;
    border-width: 2px;
    border-color: rgb(var(--color1));
    border-style: solid;
}

.info {
    flex-direction: column;
    align-items: left;
    text-align: left;
    display: none;
    font-size: 14px;
}

.info-title {
    font-size: 16px;
}

footer {
    color: rgb(var(--color1));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 8px;
}

.projects {
    display: flex;
    opacity: 100%;
    height: auto;
    transition: opacity 0.6s ease;
}

.media {
    display: flex;
    opacity: 0%;
    height: 0;
    transition: opacity 0.6s ease;
}

.article-title {
    padding-bottom: 15px;
    width: 100%;
}

.article-image {
    align-items: center;
    text-align: center;
}

.article-image img {
    width: 80%;
    height: 80%;
    padding-bottom: 5px;
    
}

.caption {
    text-align: center;
    padding-bottom: 5px;
    width: 100%;
}

.paragraph {
    padding-bottom: 5px;
    letter-spacing: 0.4pt;
    line-height: 1.75;
    text-indent: 30px;
    width: 100%;
}

.footer-icon {
    font-size: 24px;
    color: rgb(var(--color1));
    transition: filter 0.2s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-icon:hover {
    filter: brightness(1.5) drop-shadow(0px 0px 8px rgb(var(--color1)));
}